:root {
	--light: #d8d8d8;
	--dark: #3d3d3d;
	--cellSize: 150px;
}

.highlight {
	background-color: #fdff6f !important;
}

.not-your-turn {
	background-color: #e41313 !important;
}

.valid-move {
	background-color: #74d77a !important;
}

.board {
	table-layout: fixed;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: solid black 5px;
}

.piece {
	position: absolute;
	transform: translate(-50%,-50%);
	height: calc(var(--cellSize)*0.5);
}

.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.win-banner {
	position: absolute;
	background-color: whitesmoke;
	border-radius: 15px;
	padding: 30px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

table tr:nth-child(odd) td:nth-child(even) {
	background: var(--light);
}

table tr:nth-child(even) td:nth-child(odd) {
	background: var(--light);
}

table tr:nth-child(odd) td:nth-child(odd) {
	background: var(--dark);
}

table tr:nth-child(even) td:nth-child(even) {
	background: var(--dark);
}

td {
	padding: calc(var(--cellSize)/4);
}
